


  @import url('https://fonts.googleapis.com/css2?family=Denk+One&family=Farsan&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Farsan", sans-serif ; ;
}

body{
    width: 100vw;
    background: rgb(175,175,175);
background: linear-gradient(270deg, rgba(175,175,175,1) 0%, rgba(250,250,250,1) 11%, rgba(250,250,250,1) 100%);
    padding: 10px;
   
}

.nav{
    height: 10vh;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 3px 8px 1px grey;
    display: none;
   
}

.nav__ul{
    display: flex;
    gap: 4px;
    width: 100vw;
    justify-content: end;
    padding-right: 15px;
    visibility: hidden;
}

.presentation{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.presentation__hi{
    padding-top: 20%;
    font-family: "Denk One", sans-serif ;
}

h1{
    padding-top: 2%;
    color: rgb(255,101,132);
    font-size: 40px;
    font-family: "Denk One", sans-serif ;
    text-shadow: 2px 2px 7px #fff;
}

.presentation__text{
    padding-top: 5%;
    align-self: center;
    width: 50%;
    font-size: 15px;
    text-shadow: 2px 
}

button{
    margin-top: 10%;
    margin-bottom: 20%;
   align-self: center;
   padding-left: 20px;
   padding-right: 20px;
    background-color: rgb(246,198,234);
    border: none;
    border-radius: 5px;
    box-shadow:  0px 3px 8px 1px grey;
}

.presentation img{
    width: 100vw;
    margin-left: -10px;
}

